:root {
  --md-primary-fg-color: #ffffff !important;
  --md-accent-fg-color:  #ffffff !important;
  --md-accent-fg-color--transparent: rgba(255,255,255,.8)  !important;
  --md-typeset-a-color:  #ffffff !important;
}
.md-header {
    background-color: #333;
}
.md-footer-nav {
  background-color: #333;
}
